@model IEnumerable<SWD63AMovieUploader.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@item.Thumbnail" alt="@item.Title">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Owner</p>
                        @*<p class="card-text">@item.Transcription</p>*@
                       @* <a href="@item.LinkMovie" class="btn btn-primary">Download</a>*@
                        <form asp-action="DownloadMovie" asp-controller="Movies" method="post">
                            <input type="hidden" name="LinkMovie" value="@item.LinkMovie" />
                            <input type="hidden" name="Owner" value="@item.Owner" />
                            <button type="submit" class="btn btn-primary mr-2 mb-2">Download</button>
                        </form>
                        @if (item.Status == "Not available")
                        {
                            <a href="@Url.Action("Transcribe", new { LinkMovie = item.LinkMovie })" class="btn btn-primary mr-2">Transcribe</a>
                        }
                        else 
                        {
                            <a href="@Url.Action("Download_SRT", new { Transcription = item.Transcription })" class="btn btn-primary mr-2">SRT</a>
                        }
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger float-right" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
